h1
{
    display: flex;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    justify-content: center;
border-style: solid}

header{
    border-radius: 30px;
    background-color: rgb(191, 179, 245);
    display: flex;
justify-content: space-between;
justify-content: center;
}


ul {
display: flex;
justify-content: space-around;
list-style: none;
width: 100%;
}

 nav{
width: 50%;

 }

body{
    background-image: url("Recursos/assets/New\ Project.png");
}

        